<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ESP32 Weather Station</title>

    <link rel="stylesheet" href="/css/mg.min.css"></head>

<body>
    <div id="main">
        <span class="btn-menu">&#9776;</span>
        <div id="header">
            <span>ESP32 Weather Station</span>
        </div>
        <div id="content">
            
        </div>
        <div id="footer">
            <div class="row">
                <div class="column">ESP32 Weather Station</div>
                <div class="column txt-r">By Mystim</div>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <span class="btn-close">&times;</span>
        <span class="side-h">
            Menu        
        </span>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>
